.header {
  width: 100%;
  position: relative;
  float: left;

  &__top {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    padding: 35px 0;
    @include box-sizing(border-box);

    @include breakpoint(max-width 1024px) {
      padding: 25px 0;
    }

    @include breakpoint(max-width 660px) {
      @include justify-content(center);
    }
  }

  &__logo {
    display: block;
    position: relative;
    float: left;
    width: 200px;
    height: 23px;
    overflow: hidden;

    @include breakpoint(max-width 1024px) {
      width: 160px;
      height: 19px;
    }

    > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__links {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    @include breakpoint(max-width 660px) {
      display: none;
    }

    li {
      margin: 0 25px;

      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #1d1d1d;
        font-family: $ML;
        font-size: 14px;
        text-transform: uppercase;

        @include breakpoint(max-width 1024px) {
          font-size: 12px;
        }
      }
    }
  }

  &__phone {
    position: relative;
    float: left;
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

    @include breakpoint(max-width 1024px) {
      display: none;
    }

    &:hover, &:active {
      color: #1d1d1d;
    }

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      left: -22px;
      top: 4px;
      overflow: hidden;
      background-image: url('../img/icons/phone-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
    }
  }

  &__bottom {
    position: relative;
    float: left;
    width: 100%;
    background-color: #1d1d1d;
  }

  &__navigation {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-start);
    width: calc(100% - (60px + 225px + 178px));

    @include breakpoint(max-width 1024px) {
      width: calc(100% - (60px + 60px + 60px));
    }
  }

  &__nav {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(center);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @include breakpoint(max-width 1200px) {
      opacity: 0;
      left: -188px;
      position: absolute;
      top: 81px;
      width: 50%;
      background-color: #1d1d1d;
      z-index: 1;
      @include transition(0.4s);

      &.header__menu--show {
        left: 0;
        opacity: 1;
        @include transition(0.4s);
        z-index: 2;
      }
    }

    li {
      height: 100%;
      margin-right: 60px;

      //@include breakpoint(max-width 1024px) {
      //  margin-right: 25px;
      //}

      @include breakpoint(max-width 1200px) {
        width: 100%;
        margin-right: 0;
      }

      a {
        @include display-flex(flex);
        @include align-items(center);
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 16px;
        font-family: $Lisa;
        text-transform: uppercase;

        //@include breakpoint(max-width 990px) {
        //  font-size: 12px;
        //}

        @include breakpoint(max-width 1200px) {
          width: 100%;
          text-align: center;
          padding: 15px 0;
          @include justify-content(center);
        }

        &:hover {
          background-color: #272727;
          color: #fff;
        }
      }
    }
  }

  &__trigger {
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 10px;

    @include breakpoint(max-width 1200px) {
      display: block;
    }

    &--icon {
      display: block;
      position: relative;
      float: left;
    }

    &--descr {
      display: block;
      position: relative;
      float: left;
      margin-left: 15px;
      color: white;
      font-family: $Lisa;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &__tools {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);

    &--link:first-of-type {
      width: 60px;
    }

    &--link {
      display: block;
      position: relative;
      width: 225px;
      padding: 30px 25px;
      @include box-sizing(border-box);
      color: #fff;
      font-family: $Lisa;
      font-size: 16px;
      text-transform: uppercase;

      @include breakpoint(max-width 1200px) {
        width: 60px;
      }

      &:hover {
        background-color: #272727;
        color: #fff;
      }
    }

    &--link:last-of-type {
      padding-right: 0;
      width: 178px;

      @include breakpoint(max-width 1200px) {
        width: 60px;
      }
    }

    &--icon {
      display: block;
      position: relative;
      float: left;
      margin-top: 3px;
      width: 15px;
      height: 18px;
      overflow: hidden;

      > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &--descr {
      display: block;
      position: relative;
      float: left;
      margin-left: 15px;

      @include breakpoint(max-width 1200px) {
        display: none;
      }
    }

    &--counter {
      display: none;
      position: absolute;
      max-width: 35px;
      margin-top: -4px;
      margin-left: 7px;
      color: white;
      font-size: 8px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      background-color: #dd4545;
      border: 2px solid #2b2b2b;
      border-radius: 50%;
      padding: 1px 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include breakpoint(max-width 1200px) {
        display: block;
      }
    }
  }
}