section.about
    .container
        .row

            h1.section__title
                | Доставка
            ul.about__tabs
                li.about__tabs--active
                    a(href='#tabMoscow') Москва
                li
                    a(href='#tabRussia') Россия

            .about__content
                .about__car
                    img(src='img/car-dt.png' alt='car')
                #tabMoscow.about__pane.about__pane--active
                    h3.section__title.section__title--sub
                        | Доставка по Москве и Московской области

                    .about__descr
                        p.about__descr--short
                            | Доставка производится собственной курьерской службой
                            | ежедневно, с 11:00 до 22:00.
                        p.about__descr--short.about__descr--b
                            | По Москве в пределах МКАД -
                            span.about__descr--l  250 рублей
                        p.about__descr--short.about__descr--b
                            | По Москве, за МКАД и по Московской области
                        ul
                            li до 10 км - 350 Р
                            li до 20 км - 450 Р
                            li до 30 км - 550 Р
                            li до 50 км - 750 Р

                        p.about__descr--short.about__descr--b
                            | Примерка двух пар обуви - Бесплатно
                        p.about__descr--short
                            | Бесплатная примерка подразумевает покупку
                            | одной пары из двух на Ваш выбор. То есть,
                            | если Вы желаете преобрести 2 пары обуви,
                            | можете заказать 4 пары на примерку бесплатно.

                        p.about__descr--short.about__descr--b
                            | Примерка дополнительной пары
                            br
                            span.about__descr--l 100 рублей

                        p
                            | При отказе от покупки не по вине магазина (производственный брак, неверно оформленный заказ), оплачивается доставка в размере 250 руб.
                            | Если доставка за МКАД, то 250 руб + стоимость доставки.


                #tabRussia.about__pane
                    h3.section__title.section__title--sub
                        | Доставка по Российской Федерации
                    .about__descr
                        p.about__descr--short
                            | Доставка производится собственной курьерской службой
                            | ежедневно, с 11:00 до 22:00.
                        p.about__descr--short.about__descr--b
                            | По Москве в пределах МКАД -
                            span.about__descr--l  250 рублей
                        p.about__descr--short.about__descr--b
                            | По Москве, за МКАД и по Московской области
                        ul
                            li до 10 км - 350 Р
                            li до 20 км - 450 Р
                            li до 30 км - 550 Р
                            li до 50 км - 750 Р

                        p.about__descr--short.about__descr--b
                            | Примерка двух пар обуви - Бесплатно
                        p.about__descr--short
                            | Бесплатная примерка подразумевает покупку
                            | одной пары из двух на Ваш выбор. То есть,
                            | если Вы желаете преобрести 2 пары обуви,
                            | можете заказать 4 пары на примерку бесплатно.

                        p.about__descr--short.about__descr--b
                            | Примерка дополнительной пары
                            br
                            span.about__descr--l 100 рублей

                        p
                            | При отказе от покупки не по вине магазина (производственный брак, неверно оформленный заказ), оплачивается доставка в размере 250 руб.
                            | Если доставка за МКАД, то 250 руб + стоимость доставки.


            h3.section__title
                | Заказывая обувь у нас Вы получаете:
            .about__advantages
                .about__advantag
                    span.about__icon
                        img(src='img/icons/calendar-icon.png' alt='icon')
                    p
                        | Согласуем удобный
                        | для Вас день доставки
                .about__advantag
                    span.about__icon
                        img(src='img/icons/phone-red-icon.png' alt='icon')
                    p
                        | Курьер позвонит Вам
                        | за час до прибытия
                .about__advantag
                    span.about__icon
                        img(src='img/icons/clock-icon.png' alt='icon')
                    p
                        | Менеджер предложит время
                        | доставки на Ваш выбор
                .about__advantag
                    span.about__icon
                        img(src='img/icons/shoe-icon.png' alt='icon')
                    p
                        | Курьер подождет
                        | 15 минут, пока Вы будете
                        | примерять обувь
