section.about
    .container
        .row
            h1.section__title
                | Доставка
            h3.section__title.section__title--sub
                | Доставка по Москве и Московской области

            h3.section__title
                | Заказывая обувь у нас Вы получаете:
            .about__advantages
                .about__advantag
                    span.about__icon
                        img(src='img/icons/calendar-icon.png' alt='icon')
                    p
                        | Согласуем удобный
                        | для Вас день доставки
                .about__advantag
                    span.about__icon
                        img(src='img/icons/phone-red-icon.png' alt='icon')
                    p
                        | Курьер позвонит Вам
                        | за час до прибытия
                .about__advantag
                    span.about__icon
                        img(src='img/icons/clock-icon.png' alt='icon')
                    p
                        | Менеджер предложит время
                        | доставки на Ваш выбор
                .about__advantag
                    span.about__icon
                        img(src='img/icons/shoe-icon.png' alt='icon')
                    p
                        | Курьер подождет
                        | 15 минут, пока Вы будете
                        | примерять обувь
