section.about
    .container
        .row
            h1.section__title
                | Доставка

            h3.section__title
                | Заказывая обувь у нас Вы получаете:
            .about__advantages
                .about__advantag
