footer.footer
    .container
        .row
            .footer__wrapper
                .footer__element
                    ul
                        li
                            | Каталог
                        li
                            a(href="#")
                                | Черные Converse
                        li
                            a(href="#")
                                | Красные Converse
                        li
                            a(href="#")
                                | Высокие Converse
                        li
                            a(href="#")
                                | Детские Converse
                        li
                            a(href="#")
                                | Женские Converse
                        li
                            a(href="#")
                                | Белые кеды Converse
                        li
                            a(href="#")
                                | Кожаные кеды Converse
                        li
                            a(href="#")
                                | Коричневые кеды Converse
                .footer__element
                    ul
                        li
                            | О компании
                        li
                            a(href="#")
                                | Вопросы и ответы
                        li
                            a(href="#")
                                | Контакты
                        li
                            a(href="#")
                                | Доставка
                        li
                            a(href="#")
                                | Политика Безопасности
                        li
                            a(href="#")
                                | Карта сайта фильтр
                        li
                            a(href="#")
                                | Возврат товара
                        li
                            a(href="#")
                                | Карта сайта
                .footer__element
                    h3
                        | Способы оплаты

                    .footer__paymen
                        .footer__type.footer__type--visa
                        .footer__type.footer__type--master
                        .footer__type.footer__type--ya

                    p
                        | Вы можете оплатить покупки
                        | наличными при получении, либо
                        a(href="#")
                            | выбрать другой способ оплаты.