header.header
    .container
        .row
            .header__top
                a(href="/").header__logo
                    img(src='img/top-logo.png' alt='Logo')
                ul.header__links
                    li
                        a(href='#') Доставка  и оплата
                    li
                        a(href='#') Обмен и возврат
                    li
                        a(href='#') Блог
                    li
                        a(href='#') контакты
                a(href='tel:+84951205032').header__phone 8(495)120-50-32
        nav.header__navigation

            a#mobile-menu.header__trigger
                span
                span
                span

            //    вызов миксина в переменную 'list' с указаним элементов массива(названий страниц)
            - var list = ['главнаЯ', 'КЕЙСЫ', 'СИСТЕМЫ', 'УСЛУГИ', 'ТЕМЫ', 'МЫ', 'ПАРТНЕРЫ', 'КОНТАКТЫ'];
            - var link = ['/', '#', '#', '#', '#', '#', '#', '#'];
                +top-menu(list, link)