header.header
    .container
        .row
            .header__top
                a(href="/").header__logo
                    img(src='img/top-logo.png' alt='Logo')
                ul.header__links
                    li
                        a(href='#') Доставка  и оплата
                    li
                        a(href='#') Обмен и возврат
                    li
                        a(href='#') Блог
                    li
                        a(href='#') контакты
                a(href='tel:+84951205032').header__phone 8(495)120-50-32
    .header__bottom
        .container
            .row
                nav#header-navigation.header__navigation

                    a(href='#')#mobile-trigger.header__trigger
                        span.header__trigger--icon
                            img(src='img/icons/burger-icon.png')
                        span.header__trigger--descr меню

                    - var list = ['СКИДКИ ДО 60%', 'МУЖЧИНАМ', 'ЖЕНЩИНАМ', 'ДЕТЯМ', 'НОВИНКИ'];
                    - var link = ['#', '#', '#', '#', '#'];
                        +top-menu(list, link)

                .header__tools
                    a(href="#").header__tools--link
                        span.header__tools--icon
                            img(src='img/icons/search-icon.png')
                    a(href="#").header__tools--link
                        span.header__tools--icon
                            img(src='img/icons/heart-icon.png')
                        span.header__tools--counter
                            | 1
                        span.header__tools--descr
                            | Избранное: 1 товар
                    a(href="#").header__tools--link
                        span.header__tools--icon
                            img(src='img/icons/bag-icon.png')
                        span.header__tools--counter
                            | 0
                        span.header__tools--descr
                            | корзина: 0 товаров
