.aria {
  position: relative;
  float: left;
  width: 100%;
  background-color: #f3f3f3;

  .row {
    @include breakpoint(max-width 660px) {
      margin: 0;
    }
  }

  &__map {
    position: relative;
    float: left;
    margin-top: 45px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url('../img/map-dt.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #1d1d1d;
    
    @include breakpoint(max-width 1024px) {
      height: 470px;
      overflow: hidden;
      background-image: url('../img/map-tb.png');
    }

    @include breakpoint(max-width 660px) {
      height: 240px;
      overflow: hidden;
      background-image: url('../img/map-mob.png');
    }
  }
}