.container {
    @extend %clearfix;
}
@media (min-width: 768px) {
    .container {
        width: 724px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 990px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
